/* IMPORTS */
@import "vars.css";
@import "fa.min.css";
@import "spectre.min.css";
@import "modal.css";
@import "startpage.css";
@import "players.css";
@import "gamePrefs.css";
@import "mobile.css";


/* GENERAL */
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgba(var(--dark), 0.9);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    color: rgb(var(--light));

    .fullscreen {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
a,
a:active,
a:focus,
a:focus-within,
a:target,
a:visited,
a:focus-visible {
    text-decoration: none;
    color: rgb(var(--light));
}
a:hover {
    color: var(--accent);
    text-decoration: none;
}
#systemName{
    display: grid;
    width: 100%;
    height: 20%;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;

    &.invisible{
        visibility: hidden;
        opacity: 0;
    }
}
h1 {
    color: var(--accent);
    font-size: clamp(1rem, min(8vh, 9vw), 4rem);
    text-shadow:    1px 1px 1px rgb(var(--light)),
                    2px 1px 5px var(--accent),
                    -2px -2px 0px rgb(var(--light));
    margin: clamp(20px, 3%, 40px) 5% 0;
    justify-self: center;
    align-self: center;
    transform: rotateZ(-5deg);
}
.main {
    position: absolute;
    top: 20%;
    width: 90%;
    max-width: 900px;
    height: 70%;
    transition: all 2s ease-in-out;

    .btn.exit {
        content: 'X';
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0 50% 0 50%;
        font-weight: bold;
    }
}
#startupAnimation {
    position: absolute;
    top: 40%;
    left: calc(50% - 200px);
    width: 400px;
    font-size: 1rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s linear;

    &.active {
        visibility: visible;
        opacity: 1;
    }
    .connectionChain {
        width: 80%;
        margin: 1rem auto 0;
        font-size: 2rem;
        vertical-align: middle;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 100%;
        align-items: center;
        justify-items: center;
    }
    .loading::after {
        border-left-color: rgb(var(--light));
        border-bottom-color: rgb(var(--light));
    }
}
#connectionLost {
    position: absolute;
    top: calc(50% - 1.25rem);
    left: 0;
    width: 100%;
    min-height: 2.5rem;;
    font-size: 2rem;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s linear;
    z-index: 200;

    p {
        display: none;
        width: clamp(20%, 12rem, 80%);
        margin: 0 auto;
        font-size: 2rem;
        vertical-align: middle;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100%;
        align-items: center;
        justify-items: center;
    }
    &.active {
        visibility: visible;
        opacity: 1;
    }
    &.toast-error p.lost {
        display: grid;
    }
    &.toast-success p.re-established {
        display: grid;
    }
}
.connectionChainArrow {
    position: relative;
    font-size: 0.4rem;

    &::after {
        position: absolute;
        top: calc(50% - 0.6rem - 0.05rem);
        font: var(--fa-font-solid);
        font-size: 1.2rem;
        content: "\f0da";
    }
}


/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.5rem;
    font-style: italic;

    .fa-heart {
        color: var(--heart);
    }
    .fa-beer-mug-empty {
        color: var(--beer);
    }
}


/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 0.25rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}


/* SPECTRE OVERWRITES */
.btn.btn-primary{
    border-color: var(--accent);
    background-color: var(--accent);

    &:active,
    &:focus,
    &:hover{
        border-color: var(--accent);
        background-color: var(--accent);
        box-shadow: 0 0 5px rgb(var(--dark));
    }
}
.form-input {
    &.form-input-color {
        padding: 0;
        border: none;
        background: transparent;
    }
    &:focus{
        border-color: var(--accent);
        box-shadow: 0 0 3px var(--accent);
    }
}
.form-checkbox input:checked+.form-icon,
.form-radio input:checked+.form-icon,
.form-switch input:checked+.form-icon {
    background: var(--accent);
    border-color: var(--accent);
}
.loading::after {
    border-left-color: var(--accent);
    border-bottom-color: var(--accent);
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
input[type=range]::-webkit-slider-runnable-track {
    background-color: rgba(var(--dark), 0.3);
    border-radius: 0.1rem;
    height: 0.2rem;
    margin-bottom: 0.2rem;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.3rem;
    background: var(--accent);
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
}
input[type=range]::-moz-range-track {
    background-color: rgba(var(--dark), 0.3);
    border-radius: 0.1rem;
    height: 0.2rem;
}
input[type=range]::-moz-range-thumb {
    margin-top: -0.3rem;
    background: var(--accent);
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
}